*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
.idea/modules/app/ItsMee.itsmee-app-v2-native-android.app.iml
.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
.idea/caches/build_file_checksums.ser
*.iml
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
